@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.nk-button {
  // Base styles
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-family: inherit;
  transition: all $transition-speed $transition-easing;

  // Variants - use mixins and variables
  &--primary {
    @include button-variant($color-primary, $color-primary-hover);
  }

  &--secondary {
    @include button-variant($color-secondary, $color-secondary-hover);
  }

  &--outline {
    background-color: transparent;
    border: $border-width solid $color-primary;
    color: $color-primary;

    &:hover:not(.nk-button--disabled) {
      background-color: $color-primary;
      color: white;
    }
  }

  &--danger {
    @include button-variant($color-danger, $color-danger-hover);
  }

  // Sizes - use variables
  &--small {
    @include button-size($button-padding-sm, $font-size-sm);
  }

  &--medium {
    @include button-size($button-padding-md, $font-size-md);
  }

  &--large {
    @include button-size($button-padding-lg, $font-size-lg);
  }

  // Disabled state
  &--disabled {
    @include disabled-state;
  }
}