@use '../../styles/variables' as *;

.nk-progress {
  width: 100%;

  &__bar-container {
    width: 100%;
    height: 0.5rem;
    background-color: $gray-200;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &__bar {
    height: 100%;
    background-color: $color-primary;
    border-radius: $border-radius;
    transition: width $transition-speed $transition-easing;
  }
}